body {
    background-color: LightSeaGreen;
}

.c {
    font-family: sans-serif;
    font-size: 1.3em;
    /*отступ слева по краям*/
    padding: 0.1em 15px;
    background: #d4d4d4;
    /*ширина блока*/
    width: 250px;
    height: 230px;
    /* отступ от края: сверху 20 и auto по горизонтали*/
    margin: 0 auto;
    /*скругление границ*/
    border-radius: 10px;
}

input {
    background: #FFFFFF;
    float: right;
    width: 150px;
}

.button {
    font-family: ubuntu, sans-serif;
    font-size: 0.8em;
    float: left;
}
