body {
    background-color: LightSeaGreen;
}

.c {
    font-family: sans-serif;
    font-size: 1.1em;
    /*скруглеpxние границ*/
    border-radius: 15px;
    /*фон блока*/
    background: #d4d4d4;
    /*отступ слева по краям*/
    padding: 10px 20px;
    /*ширина блока*/
    width: 270px;
    /* отступ от края: сверху 20 и auto по горизонтали*/
    margin: 20px auto;
}

div {
    padding: 3px 1px;
}

.i {
    background: #FFFFFF;
    float: right;
    width: 150px;
}


.button {
    margin: 0px 90px 0px 90px;
}
