<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="weather.css" />
        <title>Погода на сегодня</title>
    </head>
    <body>
        <div class="w">
            Текущее время: {{current_time}}
            <br>
            <br>
            Погода на сегодня <br>
            Температура воздуха (градус Цельсия): {{temperature}} <br>
            Влажность (%): {{humidity}} <br>
            Давление (мм рт. ст.): {{pressure}} <br>
            Скорость и направление ветра (м/с): {{wind}} <br>
            Атмосферные осадки (мм): {{precipitation}} <br>
        </div>
    </body>
</html>