<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="weather.css" />
        <title>Погода на сегодня</title>
    </head>
    <body>
        <div class="w">
            Текущее время: {{current_time}}
        </div>
        <br>
        <div class="w">
            Погода на сегодня
        </div>
        <div class="w">
            Температура воздуха (градус Цельсия): {{temperature}}
        </div>
        <div class="w">
            Влажность (%): {{humidity}}
        </div>
        <div class="w">
            Давление (мм рт. ст.): {{pressure}}
        </div>
        <div class="w">
            Скорость и направление ветра (м/с): {{wind}}
        </div>
        <div class="w">
            Атмосферные осадки (мм): {{precipitation}}
        </div>
    </body>
</html>