<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="colours.css">
        <script src="colours.js"></script>
        <title>RGB</title>
    </head>
    <body>
        <main>
            <form class="c">
                <div>
                    <label class="l">Выберети цвет:</label>
                </div>
                <div>
                    <label>Красный</label>
                    <input class="i" id="red" type="text" value="0">
                </div>
                <div>
                    <label>Зеленый</label>
                    <input class="i" d="green" type="text" value="0">
                </div>
                <div>
                    <label>Синий</label>
                    <input class="i" id="blue" type="text" value="0">
                </div>
                <div>
                    <input class="button" type="submit" value="Применить" onclick="GetColours();">
                </div>
            </form>
        </main>
    </body>
</html>