<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="colours.css">
        <script src="colours.js"></script>
        <title>RGB</title>
    </head>
    <body>
        <main>
            <div class="c">
                <p>
                    Выберети цвет:
                </p>
                <p>
                    <label>Красный</label>
                    <input id="red" class="c" type="text" value="0" />
                </p>
                <p>
                    <label>Зеленый</label>
                    <input id="green" class="c" type="text" value="0" />
                </p>
                <p>
                    <label>Синий</label>
                    <input id="blue" class="c" type="text" value="0" />
                </p>
                <p>
                    <input class="button" type="button" value="Применить" onclick="GetColours();" />
                </p>
            </div>
        </main>
    </body>
</html>