{% block menu %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav text-center">
            <li>
                <a href="/">
                    Температура устройства
                </a>
            </li>
            <li>
                <a href="weather">
                    Погода на сегодня
                </a>
            </li>
            <li>
                <a href="colors">
                    Цвет для LED
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}