<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="weather.css">
        <title>Погода на сегодня</title>
    </head>
    <body>
        <main>
            <div class="w">
                <p>
                    Текущее время: {{current_time}}
                </p>
                <p>
                    Погода на сегодня
                </p>
                <p>
                    Температура воздуха (градус Цельсия): {{temperature}}
                </p>
                <p>
                    Влажность (%): {{humidity}}
                </p>
                <p>
                    Давление (мм рт. ст.): {{pressure}}
                </p>
                <p>
                    Скорость и направление ветра (м/с): {{wind}}
                </p>
                <p>
                    Атмосферные осадки (мм): {{precipitation}}
                </p>
            </div>
        </main>
    </body>
</html>